.container-div{ 
    Height: 100vh;
    Width: 100vw; 
    Align-Items: center;
    Justify-Content: centre;
    /* margin-bottom:none; */
    }
    #confirm, #delete{
        background-color:#990505;
        color:white;
        
        width: 100px;
        height: 50px;
        Align-Items: center;
        Justify-Content: centre;
        border-radius:2px;
        margin-right:10px;
        font-family:sans-serif;
      }
      #confirm2, #delete2{
        background-color:#990505;
        color:white;
        
        width: 200px;
        height: 50px;
        Align-Items: center;
        Justify-Content: centre;
        border-radius:2px;
        margin-right:10px;
        font-family:sans-serif;
      }
      .title {
        font-family: Optima;
        font-size: 60px;
        position: relative;
        top: -115px;
        left: -60px;
        color:#ffffff;
      }
      .container {
        width: 150px;
        height: 50px;
        align-content: center;
      }
      .container {
        max-width: 100%;
      }
      .color-nav{
        background-color:#990505;

      }
      .jumbo {
        background-size: cover;
        background-color: #990505;
        width: 30%;
        position: relative;
        left: 35%;
        margin-top: 1%;
        border-radius: 5%;
       
      }
      #ccc{margin-left: 46%;
        text-align: center;
        line-height: 50px;
        }
        #search{
          width: 80%;
          margin-left: 10%;
          border:#990505 2px;
          background-color: #dadada;
          text-align: center;
          color: #990505;
          border-radius: 15%;
          
          }

